<h2 class="subContHeading">{{ showRecipes ? "Recipes" : "Favourite" }}</h2>

<div id="recipe" class="recipeCont">
  <p class="recipeName" *ngIf="recipeList.length == 0">{{ showRecipes ? "No Recipe Found" : "No favourite" }}</p>
  <div
    [id]="recipe.id"
    (click)="redirectToRecipe($event)"
    *ngFor="let recipe of recipeList"
    class="recipeCard"
  >
    <img [id]="recipe.id" [src]="recipe.foodImg" class="foodImg" alt="" />
    <p [id]="recipe.id" class="recipeName">{{ recipe.name }}</p>
  </div>
</div>
