
<form class="ingForm">
    <div
    class="newIng"
    *ngFor="let input of IngreFormInp;index as i"
    >

        <input 
        class="ingredient" 
        type="text" 
        placeholder="Enter the ingredient"
        [value]="input"
        (change)="eventType(i, $event)"
        >
        <button class="pillButton" *ngIf="i != 0" (click) = "onDeleteIredient(i)">➖</button>
    </div>
    <button class="pillButton" (click)="onAddIngredient()">➕</button>
    <button mat-raised-button class="submitButton" (click)="submitIngreForm()">submit</button>
</form>

<div *ngIf="showRecipes" class="recipeCont">
    <div 
    [id] = "recipe.id" 
    (click) = "redirectToRecipe($event)" 
    *ngFor="let recipe of recipeList" 
    class= "recipeCard" >
        <img [id] = "recipe.id" [src]="recipe.foodImg" alt="">
        <p [id] = "recipe.id" >{{recipe.name}}</p>
    </div>
</div>


