
<form [formGroup]="ingredientForm" class="ingForm">
    
    <input 
    class="ingredient" 
        type="text" 
        placeholder="Enter the ingredient"
        [value]="ingredient?.value"
        formControlName="ingredient"
        >
    <button mat-raised-button color="primary" (click)="onClick()">submit</button>
</form>

<div *ngIf="showRecipes" class="recipeCont">
    <div 
    [id] = "recipe.id" 
    (click) = "redirectToRecipe($event)" 
    *ngFor="let recipe of recipeList" 
    class= "recipeCard" >
        <img [id] = "recipe.id" [src]="recipe.foodImg" alt="">
        <p [id] = "recipe.id" >{{recipe.name}}</p>
    </div>
</div>


